---
import { getData } from "../data";
import Default from "../layouts/default.astro";

export async function getStaticPaths() {
  const recipes = await getData();
  return recipes.map((recipe) => {
    return {
      params: {
        slug: recipe.title
          .toLowerCase()
          .replace(/[^\w\s-]/g, "")
          .replace(/\s+/g, "-"),
      },
      props: { recipe },
    };
  });
}
const { slug } = Astro.params;
const { recipe } = Astro.props;
---

<Default title={`${recipe.title} | Masak Apa?`}>
  <header class="container">
    <hgroup>
      <h1>{recipe.title}</h1>
      <p>{recipe.description}</p>
      <a href={recipe.URL}>{recipe.URL}</a>
    </hgroup>
    <div class="grid" style="text-align: center;">
      <mark>{recipe.total_time} Minutes</mark>
      <mark>{recipe.serves}</mark>
      <mark>{recipe.calories}</mark>
    </div>
  </header>
  <main class="container">
    <section class="grid">
      <article>
        <h2>Ingredients</h2>
        <ul>
          {recipe.ingredients.map((ingredient) => <li>{ingredient}</li>)}
        </ul>
      </article>
      <article>
        <h2>Instructions</h2>
        <ol>
          {recipe.instructions.map((instruction) => <li>{instruction}</li>)}
        </ol>
      </article>
    </section>
  </main>
</Default>
