---
import "@picocss/pico/css/pico.min.css";
const {
  title = "Masak Apa?",
  desc = "Enter the ingredients that you have and start cooking",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <!-- SEO metadata -->
    <meta name="description" content={desc} />
    <meta name="keywords" content="cooking, recipes, ingredients" />
    <meta
      name="author"
      content="Rizky Baihaqy, Tryo Irtadlo, Salsabila Febrianty NP"
    />

    <!-- Open Graph metadata -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://rizkybaihaqy.github.io/masak-apa/"
    />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😋</text></svg>"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
